* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border:  5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

#player , #layer1 , #layer2, #layer3 ,#layer4, #layer5 , #enemy_fly, #enemy_plant, #enemy_spider_big, #fire , #collisionAnimation, #lives{
    display: none;
}

/*
#fire-btn{
    position: absolute;
    top: 450px;
    left: 80px;
    border-radius: 100px;
    border: none;;
    background-color: rgba(0, 0, 0, 0.3);
    padding: .8rem;
    color:  rgba(255, 255, 255, 0.4);
}
#fire-btn:active{
    background-color: rgba(0, 0, 0, 0.5);
}

*/